<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TILT</title>
    <script src="script.js"></script>
    <script src="server.js"></script>
    <link rel="stylesheet" href="style.css">

<!--Google Analytics>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GXGL27H2Q1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GXGL27H2Q1');
</script>

</head>
<body>
    <h1>Tilt the Scale - Back to Balance </h1>
    <h4>Blurb of problem and AI solution</h4>
<p>Longer description of the problem and this particular AI solution</p>

<a href="./TiltThisText.ejs">Use the TILT App</a>
<a href="./MoreInfo.ejs">More Info</a>



</body>

</html>