<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TILT</title>
    <script src="./public/script.js"></script>
    <link rel="stylesheet" href="./public/style.css">

<!--Google Analytics>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GXGL27H2Q1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GXGL27H2Q1');
</script>

</head>

<body>
    <h1><i>Tilt</i> the Texts</h1>
    <h2 style="margin: 10px;">Bringing Balance to Gender & Language</h2>
<div class="mainportion">
    <h4 style="margin: 10px;">Advancing Equality using AI Large Language Models</h4>
<p>In our modern life, encountering <b>needlessly gendered</b> terms can be confusing, demoralising, reduce empathy, and create divisive feelings of exclusion or entitlement.</p>
  
  <p>The <b>assumed-male defaults</b> of the English language have long been a thorn in the side of the goal towards equality and mutual respect between the sexes, and the discriminations of the past have become roadblocks in our collective journey forward into a truly equal world.<br>
</p>
<p>Large Language Model (LLM) AI processing can help humanity achieve closure on the inadvertant infractions of past writers while keeping their messages intact, helping the new generation of readers to once more uncover the deeper, intended meaning of a long-gone author's texts.</p>
</p> 
<p>The <b>TILT Web Application</b> is powered by OpenAI's LLM <b>ChatGPT</b> to addresses sexist language in a direct and immediate way, by re-writing unintentionally sexist writing into the <b>gender-neutral</b> norm that is expected by the readers of today.</p>
</div>

<button><a href="/TiltThisText">Use TILT (for Screens)</a></button>
<button><a href="/TiltThisTextMobile">Use TILT (for Mobile)</a></button>
<button><a href="/MoreInfo">More Info</a></button>
<button><a href="/Interviews">Interviews</a></button>

<p class="disclaimer"><u>Disclaimer:</u><br> This website is created for learning purposes only. 
      The information provided here should not be considered professional advice. <br> 
      Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. <br>
      Any actions you take based on the contents of this website are at your own risk.<br>
      We are not liable for any losses or damages incurred from the use of this website.</p>

</body>

</html>