<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TILT</title>
    <script src="./public/script.js"></script>
    <link rel="stylesheet" href="./public/style.css">

<!--Google Analytics>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GXGL27H2Q1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GXGL27H2Q1');
</script>

</head>
<body>
    <h1>Tilt the Texts - Back to Balance </h1>
    <h4>Advancing Equality using AI Large Language Models</h4>
<p>In our post-woke world, encountering unnecessarily gendered language in writing can be frustrating, confusing, and demoralising.<br>
For long the assumed gender defaults of the English language have been a thorn in the side of the goal towards equality and mutual respect between the sexes.<br>  
The discriminations of the past have become roadblocks in our collective journey forward into a truly equal world.<br>
Large Language Model AI processing can help humanity achieve closure on the inadvertant infractions of past writers while keeping their messages intact, <br>
helping the new generation of readers to once more uncover the deeper, intended meaning of a long-gone author's texts.<br></p>

<a href="/TiltThisText">Use the TILT App</a>
<a href="/MoreInfo">More Info</a>



</body>

</html>