<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviews</title>
    <script src="./public/script.js"></script>
    <link rel="stylesheet" href="./public/style.css">

<!--Google Analytics>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GXGL27H2Q1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GXGL27H2Q1');
</script>

<style> 
    section {
    display: flex;       
    justify-content: center;
    align-items: center;
    }
    .container {
    width: 100%;
    display: flex;       
    justify-content: center;
    align-items: center;
    }
    article {
        background-color: rgba(247, 243, 255, 0.685);
        border-radius: 15px;
        margin: 8px;
        padding: 8px;
        box-shadow: 0 0 10px rgba(76, 3, 107, 0.589);
        }

</style>

</head>

<body>
    <h1>Interview <i>Quotes</i></h1>
    <h2 style="margin: 10px;">On Gendered Language & the TILT WebApp</h2>

    <section>
        <div class="container">
            <article>
                <p>"I used to encounter gendered terms a lot when studying English Literature in school. It was very confusing and difficult to understand 
                    why they used “men” or “he” when they actually meant women or groups of people generally.
                    Girls reading books written that way might think that women aren't doing anything in society, which is not true. 
                    Boys growing up reading those terms might think that women can't do things as well as men can, feel proud thinking they are better than girls." <i>~Anon 1</i></p>
            </article>     
            <article>
                <p>"So many languages on earth are terribly gendered. Everywhere you turn, 
                    language is used to keep certain people down and to remind them that they should be considered inferior. I'm glad this webapp was made." <i>~Anon 2</i>
                </p> 
            </article>
            <article>
                <p>"I don't feel offended by gendered language and the stereotypes that come with it because I think its up to me to be more aware 
                of people's biases and work on showing them how their biases are wrong." <i>~Anon 3</i>
                </p> 
            </article>  
            <article>
                <p>"I understand that gendered language is exists because of “the Patriarchy” and that the Patriarchy sucks. 
                The bias of our language is just a small part of the whole problem." <i>~Anon 4</i>
                </p>     
            </article>  
        </section>  
        </div>
    
        <section>
            <div class="container">
                <article>
                    <p>"I would hope that my son would understand that just because women are not written about, they still exist.
                        If my son was to read the term "womankind" as a norm. It would sound weird because it is not the norm. 
                        If it was a norm, he might think 'where are all the men?'" <i>~Anon 5</i>
                    </p>
                </article>     
                <article>
                    <p>"Rather than flip the language to a “female” language, I want something more inclusive. 
                        Although I don't like the term “Mankind”, I don't want “Womankind” either, I would prefer something neutral like “Humankind”." <i>~Anon 6</i>
                    </p> 
                </article>
                <article>
                    <p>"This WebApp would be very useful to me when I write contracts customised to my different customers, 
                        because when editing a template manually, I sometimes might miss out a gendered term 
                        and my customers don't feel comfortable accepting the documents which address them with the wrong pronoun." <i>~Anon 7</i>
                    </p> 
                </article>  
                <article>
                    <p>"This webapp can be useful for copywriting to prevent bias. But it can be misused - 
                        for example, removing gender pronouns could make some social problems such as crime harder to spot." <i>~Anon 8</i>
                    </p>     
                </article>  
            </section>  
            </div>
    

<button><a href="/">Home</a></button>
<button><a href="/TiltThisText">Use TILT (for Screens)</a></button>
<button><a href="/TiltThisTextMobile">Use TILT (for Mobile)</a></button>
<button><a href="/MoreInfo">More Info</a></button>



</body>
</html>