<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviews</title>
    <script src="./public/script.js"></script>
    <link rel="stylesheet" href="./public/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

<!--Google Analytics>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GXGL27H2Q1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GXGL27H2Q1');
</script>

<style> 
    section {
    display: flex;       
    justify-content: center;
    align-items: center;
    }
    .container {
    width: 100%;
    display: flex;       
    justify-content: center;
    align-items: center;
    }
    article {
        background-color: rgba(247, 243, 255, 0.685);
        border-radius: 15px;
        margin: 6px;
        padding: 6px;
        box-shadow: 0 0 10px rgba(76, 3, 107, 0.589);
        }

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}


</style>

</head>

<body>
    <h1>Interview <i>Quotes</i></h1>
    <h2 style="margin: 10px;">On Gendered Language & the TILT WebApp</h2>

    <section>
        <div class="container">
            <article>
                <p class="patrick-hand-regular">"I came across gendered terms a lot when studying English Literature in school. 
                    It was very confusing and difficult to understand why “men” or “he” was used when they actually meant groups of people generally.
                    Young girls reading books written that way might think that women aren't doing anything in society, which is not true. 
                    Young boys might think that women can't do things as well as men can, and feel proud thinking that they are better than girls." <i>~Anon 1</i></p>
            </article>     
            <article>
                <p class="kalam-regular">"So many languages on earth are terribly gendered. Everywhere you turn, 
                    language is used to keep certain people down and to remind them that they should be considered inferior. I'm glad this webapp was made." <i>~Anon 2</i>
                </p> 
            </article>
        </section>  
        </div>
    
        <section>
            <div class="container">
                <article>
                    <p class="neucha-regular">"I hope that my son will understand that just because women are not written about, they still matter.
                        If the term "womankind" was the norm, he might think 'where are all the men?'" <i>~Anon 3</i>
                    </p>
                </article>     
                <article>
                    <p class="kalam-regular">"Although I don't like the term “Mankind”, I wouldn't want the term “Womankind” either. 
                        I would prefer something neutral and inclusive like “Humankind”." <i>~Anon 4</i>
                    </p> 
                </article>
                <article>
                    <p class="patrick-hand-regular">"This webapp could be very useful for me when writing contract documents, 
                        because when editing a template manually, I sometimes might miss out a gendered term 
                        and my customers don't feel comfortable accepting documents which address them with the wrong pronoun." <i>~Anon 5</i>
                    </p> 
                </article> 
            </section>  
        <section>
                    <div class="container">
                <article>
                    <p class="patrick-hand-regular">"This webapp can be useful for writers, but it could be misused - 
                        for example, removing gender pronouns could make some social problems such as crime harder to spot." <i>~Anon 6</i>
                    </p>     
                </article> 
                <article>
                    <p class="neucha-regular">"I understand that gendered language is exists because of “the Patriarchy” and that the Patriarchy sucks. 
                    The bias of our language is just a small part of the whole problem." <i>~Anon 7</i>
                    </p>     
                </article>  
                <article>
                    <p class="kalam-regular">"I don't feel offended by gendered language and the stereotypes that come with it because I think its up to me to be more aware 
                    of people's biases and work on showing them how their biases are wrong." <i>~Anon 8</i>
                    </p> 
                </article>  
            </section>  
            </div>
    

<button><a href="/">Home</a></button>
<button><a href="/TiltThisText">Use TILT (for Screens)</a></button>
<button><a href="/TiltThisTextMobile">Use TILT (for Mobile)</a></button>
<button><a href="/MoreInfo">More Info</a></button>



</body>
</html>