<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Info</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
        <h1>Gender <i>Bias</i> in the English Language</h1>

<div class="mainportion">
    <p>Linguistic Determinism is the theory that language shapes the way people think, and in turn how societies function.</p>
    <h4 style="margin: 10px;"> Research at this intersection of gender, language, and society often seeks to answer the following questions:</h4>
    <ol style="color: #640068;">
        <li>Do different people (and cultures) use language differently?</li>
        <li>How does language reflect and perpetuate gender inequality?</li>
        <li>How can sexist language be changed?</li>
        </ol>

    <p>The <b>TILT Web Application</b> powered by OpenAI's LLM <b>ChatGPT</b> addresses sexist language in a direct and immediate way by re-writing archaicly and unintentionally sexist writing into the gender-neutral norm that is expected by the readers of today.</p>
       
    <h4 style="margin: 10px;"> Links for more information on the topic of gendered language</h4>
    <ul>
        <li><a href="https://writingcenter.unc.edu/tips-and-tools/gender-inclusive-language/"><u>Tips for writing gender-neutrally</u></a></li>
        <li><a href="https://www.researchgate.net/publication/333732400_CHAPTER_15_Gender_and_Language"><u>Gendered Language - by Mary Crawford</u></a></li>
        <li><a href="https://pressbooks.pub/psycholinguisticsfall2017section2/chapter/language-and-gender/"><u>Language and Gender - by Helen Trebicka</u></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Male_as_norm"><u>Wikipedia on "Male as Norm"</u></a></li>
    </ul>
 </div>   

<button><a href="/">Home</a></button>
<button><a href="/TiltThisText">Use TILT (for Screens)</a></button>
<button><a href="/TiltThisTextMobile">Use TILT (for Mobile)</a></button>


</body>
</html>