<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Info</title>
    <link rel="stylesheet" href="./public/style.css">
</head>
<body>
        <h1>Gender Bias in the English Language</h1>

<div class="mainportion">
    <p> The intersection of of gender and language research often have at their base the following questions:
    <ol>
        <li>Do different people (and cultures) use language differently?</li>
        <li>How does language reflect and perpetuate gender inequality?</li>
        <li>How can sexist language be changed?</li>
        </ol></p>
    <p>The TILT Web Application powered by OpenAI's LLM addresses sexist language in a direct and immediate way by re-writing archaicly and unintentionally sexist writing into the gender-neutral norm that is expected by the readers of today.</p>
       
    <h3> Links for more information on the topic of gendered language</h3>
    <ul>
        <li><a href="https://writingcenter.unc.edu/tips-and-tools/gender-inclusive-language/">Tips for writing gender-neutrally</a></li>
        <li><a href="https://www.researchgate.net/publication/333732400_CHAPTER_15_Gender_and_Language">Essay: Gendered Language, by Mary Crawford</a></li>
        <li><a href="https://pressbooks.pub/psycholinguisticsfall2017section2/chapter/language-and-gender/">Essay: Language and Gender by Helen Trebicka</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Male_as_norm">Wikipedia Article on "Male as Norm"</a></li>
    </ul>
 </div>   


//page links>
 <button>
    <a href="/TiltThisText">Use the TILT App</a></button>
    <button>
    <a href="/">Home</a></button>

</body>
</html>