<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Info</title>
</head>
<body>
    <h1> Gendered Language Bias</h1>
    <h3> Links for more information on the topic</h3>
    <p>Gender bias in the english language entered into research interest in the 19th Century... </p>
    <a href="https://en.wikipedia.org/wiki/Male_as_norm">Wikipedia Article on "Male as Norm"</a>
    <br/>
    <//homepage link>
    <a href="/index">Home</a>
</body>
</html>