html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 5px;
    }

header {
    height: 100px;
    }

h1 {
    text-align: center;
    color: rgb(135, 0, 197);
    line-height: 100px;
    margin: 5px;
    }

article {
    padding: 10px;
    margin: 10px;
    }

#userInput {
    
}

#chatOutput {

}
button {
    padding: 10px 20px;
    background-color: #84c0ff;
    color: white;
    border: none;
    cursor: pointer;
    }
    button:hover {
    background-color: #b900c0;

    }