html {
    font-family: Arial, Helvetica, sans-serif;
background-image: url("cosmosLS.png");
background-size: cover;
    }

/*link styles no underline*/
    a:link {text-decoration: none;} 
    a:visited {text-decoration: none;} 
    a:hover {text-decoration: none;} 
    a:active {text-decoration: none;}
      
h1 {text-align: center; color: rgb(255, 255, 255); line-height: 70px; margin: 5px; font-size: 50px;}
h2 {text-align: center; color: rgb(255, 255, 255);}
p {color: #640068; margin: 10px}

/*main portion style*/
.mainportion 
    {background-color: rgb(247, 243, 255); border: 3px #6e1292 solid; border-radius: 15px;  padding: 10px}


/*normal button styling*/
button{
    padding: 10px 20px;
    background-color: #e6c0f3;
    color: rgb(59, 0, 99);
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;
    }
button:hover {
    background-color: #ba5dbd;
    color: white
    }

/*interactive text box*/
#userInput {font-family:'Courier New', Courier, monospace}
#chatOutput {font-family:Arial, Helvetica, sans-serif}
    